/**========RESET========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/**========RESET========= */
/**===========Variables====== */
:root {
  --light-gray: #9fa3a7;
  --orange: #f05638;
  --light-orange: #fa684f;
  --yellow: #ffc80a;
  --f-white: #f7f8f9;
  --sc-white: #fffbfb;
  --dark-gray: #333333;
  --light-acqua: #35cfed;
  --dark-acqua: #93b6b7;
  --light-violet: #0a090b;
  --dark-violet: #8166b0;
  --light-violet: #8f76bc;
  --dark-back: #2c2c2c;
  --light-green: #7bc424;
  --font-arvo: "Arvo", serif;
  --font-open: "Open Sans", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
}
/**=========Variables========= */
/**========GENERAL-STYLING========= */
::selection {
  color: white;
  background-color: var(--light-green);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-auto-flow: row;
  grid-template-areas:
    "item1 item1 item2 item2"
    "item3 item4 item4 item5"
    "item6 item7 item7 item5"
    "item8 item9 item10 item10";
}

img {
  display: block;
  width: 100%;
}
.txt span {
  font-family: var(--font-Montserrat);
  color: var(--light-gray);
  font-weight: 600;
}
.txt h3 {
  font-family: var(--font-arvo);
  color: var(--dark-gray);
  font-weight: 200;
}
.txt p {
  font-family: var(--font-open);
  color: var(--light-gray);
}
/**========GENERAL-STYLING========= */
/**=========ITEM1=============== */
.item1 {
  grid-area: item1;
  background-color: white;
}
.item1 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.item1 > * {
  margin-top: 6%;
}
.item1 .image {
  flex: 0.45;
  margin-right: 11%;
}

.item1 .content .txt {
  flex: 0.38;
  margin-left: 11%;
  margin-bottom: 5%;
}
.item1 .content .txt span {
  font-size: 12px;
  letter-spacing: 2px;
}
.item1 .content .txt h3 {
  font-size: 22px;
  font-weight: 200;
  line-height: 32px;
  margin-top: 12px;
  margin-bottom: 20px;
}
.item1 .content .txt p {
  line-height: 26px;
  font-size: 14px;
}
/**=========ITEM1=============== */

/**=========ITEM2=============== */
.item2 {
  grid-area: item2;
  background-color: var(--f-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item2 .content {
  display: flex;
  justify-content: center;
}
.item2 .content .txt {
  text-align: center;
  width: 70%;
}
.item2 .content .txt span {
  font-family: var(--font-Montserrat);
  color: var(--light-gray);
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800;
}
.item2 .content .txt h3 {
  text-align: start;
  font-family: var(--font-arvo);
  color: var(--dark-gray);
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  line-height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.item2 .content .txt span {
  font-family: var(--font-Montserrat);
  color: var(--light-gray);
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800;
}
.item2 .content .txt a {
  color: var(--light-acqua);
  font-family: var(--font-open);
  font-size: 14px;
}
/**=========ITEM2=============== */

/**=========ITEM3=============== */
.item3 {
  grid-area: item3;
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item3 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item3 .content .image {
  width: 90%;
}
.item3 .txt {
  text-align: center;
  margin-top: 13px;
}
.item3 .content .txt h3 {
  margin: auto;
  width: 70%;
  color: var(--sc-white);
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 23px;
}
.item3 .content .txt a {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2.4px;
  line-height: 26px;
  font-family: var(--font-open);
  color: var(--yellow);
}

.item3 .content .txt a span {
  margin-left: 4px;
  font-size: medium;
  color: var(--yellow);
}
/**=========ITEM3=============== */
/**=========ITEM4=============== */

.item4 {
  grid-area: item4;
  background-color: white;
  display: flex;
  justify-content: center;
}
.item4 .content {
  display: flex;
  margin-top: 68px;
}
.item4 .content .left {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.item4 .content .left .image img {
  width: 125%;
  position: relative;
  right: 54%;
}
.item4 .content .left .txt {
  width: 50%;
}
.item4 .content .left h3 {
  margin-top: 10px;
  line-height: 32px;
  font-size: 22px;
}
.item4 .content .left span {
  font-size: 14px;
}

.item4 .content .left .txt {
  text-align: start;
}
.item4 .content .right {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.item4 .content .right .txt {
  width: 70%;
}

.item4 .content .right p {
  margin-bottom: 20px;
  line-height: 26px;
  font-size: 14px;
}
.item4 .content .right a {
  color: var(--light-acqua);
  letter-spacing: 2.4px;
  font-size: 12px;
  line-height: 26px;
  text-decoration: none;
  font-weight: 600;
  font-family: var(--font-open);
}
.item4 .content .right a span {
  font-size: 20px;
  color: var(--light-acqua);
}
/**=========ITEM4=============== */
/**=========ITEM5=============== */
.item5 {
  grid-area: item5;
  background-color: var(--light-violet);
}

.item5 .content .floppy {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item5 .content .floppy .image {
  width: 100%;
  background-color: var(--dark-violet);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
}
.item5 .content .floppy .image .flag {
  display: flex;
  background-color: var(--light-violet);
  border-radius: 50px;
  font-size: 12px;
  padding: 2px;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  color: white;
  font-family: var(--font-open);
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 2.4px;
  font-size: 10px;
}
.item5 .content .floppy .image .flag img {
  width: 15%;
  margin-right: 5px;
}
.item5 .content .floppy .image img {
  width: 60%;
}
.item5 .content .floppy .image p {
  color: white;
  font-family: var(--font-open);
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
.item5 .t-cont {
  flex: 0.5;
  text-align: center;
}
.item5 .t-cont h3 {
  font-family: var(--font-arvo);
  font-size: 2rem;
  line-height: 2.25rem;
  margin-top: 1.25rem;
  color: white;
  text-align: center;
}
.item5 .t-cont p {
  font-size: 14px;
  line-height: 26px;
  font-family: var(--font-open);
  color: white;
  width: 70%;
  margin: auto;
  margin-bottom: 60px;
}
.item5 .t-cont a {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.4;
  padding: 15px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 50px;
  background-color: var(--yellow);
  font-family: var(--font-open);
  text-decoration: none;
  color: black;
  font-weight: 600;
}
/**=========ITEM5=============== */
/**=========ITEM6=============== */

.item6 {
  grid-area: item6;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item6 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.item6 .content .image img {
  width: 70%;
  position: relative;
  left: 9%;
}
.item6 .txt {
  text-align: center;
  margin-top: 2rem;
}
.item6 .content .txt h3 {
  margin: auto;
  color: var(--dark-gray);
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 23px;
}
.item6 .content .txt a {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2.4px;
  line-height: 26px;
  font-family: var(--font-open);
  color: var(--light-acqua);
}

.item6 .content .txt a span {
  margin-left: 4px;
  font-size: medium;
  color: var(--light-acqua);
}
/**=========ITEM6=============== */
/**=========ITEM7=============== */
.item7 {
  grid-area: item7;
  background-color: var(--dark-acqua);
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.item7 .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item7 .content .image img {
  width: 90%;
  position: relative;
  right: 7%;
}
.item7 .content .txt {
  margin-top: 20px;
}
.item7 .content .txt h3 {
  font-size: 1.3rem;
  color: white;
  width: 40%;
  margin: auto;
  line-height: 32px;
  font-family: var(--font-arvo);
  font-weight: 600;
}
.item7 .content .txt p {
  color: white;
  background-color: var(--light-orange);
  border-radius: 5px;
  margin-left: 30px;
  width: 13%;
  font-size: 8px;
  line-height: 20px;
  letter-spacing: 2px;
  font-family: var(--font-open);
}

/**=========ITEM7=============== */
/**=========ITEM8=============== */

.item8 {
  grid-area: item8;
  background-color: var(--light-acqua);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item8 .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.item8 img {
  width: 20%;
}
.item8 h3 {
  width: 75%;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  font-family: var(--font-arvo);
}
/**=========ITEM8=============== */
/**=========ITEM9=============== */

.item9 {
  grid-area: item9;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item9 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item9 h3 {
  width: 75%;
  color: var(--dark-gray);
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  font-family: var(--font-arvo);
  font-weight: 200;
}
.item9 span {
  font-size: 8px;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: var(--font-open);
  background-color: var(--light-green);
  border-radius: 5px;
  color: white;
  padding: 2px 8px;
  margin-bottom: 2%;
}
/**=========ITEM9=============== */
/**=========ITEM10=============== */

.item10 {
  grid-area: item10;
  background-color: var(--dark-back);
}
.item10 .content{
  grid-area: item10;
  background-color: var(--dark-back);
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 0px 20px;
}
.item10 .content .image{
    flex: 0.5;
  }
  
.item10 .content .image img{
    width: 70%;
  }

  .item10 .content .txt{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .item10 .content .txt h3{
    color: white;
    font-size: 22px;
    width: 67%;
  }
/**=========ITEM10=============== */
